name: continuous-deployment
run-name: '[CD] Deployment of the website by @${{ github.actor }}'

on:
    workflow_run:
        branches: [master]
        types: [completed]
        workflows: [continuous-integration]

permissions:
    contents: read
    pages: write
    id-token: write

concurrency:
    group: 'deployment'
    cancel-in-progress: true

jobs:
    build:
        name: '[CD] Project building'
        runs-on: ubuntu-latest
        steps:
            -
                name: '[GITHUB / OFFICIAL] Checkout'
                uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b # v3.2.0
            -
                name: '[INTERNAL] Install project & environment'
                uses: ./.github/actions/install
                with:
                    architecture: x64
                    node-version: 18
            -
                name: 'Launch build'
                shell: sh
                run: pnpm run build
            -
                name: '[GITHUB / OFFICIAL] Setup Pages'
                uses: actions/configure-pages@c5a3e1159e0cbdf0845eb8811bd39e39fc3099c2 # v2.1.3
            -
                name: '[GITHUB / OFFICIAL] Upload artifact'
                uses: actions/upload-pages-artifact@v1
                with:
                    path: './'

    deploy:
        name: '[CD] Project deployment'
        environment:
            name: website-production
            url: ${{ steps.deployment.outputs.page_url }}
        runs-on: ubuntu-latest
        needs: build
        steps:
            -
                name: '[GITHUB / OFFICIAL] Deploy to GitHub Pages'
                id: deployment
                uses: actions/deploy-pages@20a4baa1095bad40ba7d6ca0d9abbc220b76603f # v1.2.3
